<h1>Access Company Data</h1>

In [1]:
import yfinance as yf
from IPython.display import display

<h5>We can use the yfinance package to access data on company investors.</h5>

In [2]:
data = yf.Ticker("TSLA")

<p>Let's output the list of Tesla's major holders:</p>

In [3]:
display(data.major_holders)

Breakdown                          Value
insidersPercentHeld              0.12987
institutionsPercentHeld          0.45956
institutionsFloatPercentHeld     0.52815
institutionsCount             3674.00000

<p>We can also get the list of the institutional holders:</p>

In [4]:
display(data.institutional_holders)

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Group Inc,0.0701,222486933,58240404451
1,2023-06-30,Blackrock Inc.,0.0586,185889398,48660267714
2,2023-06-30,State Street Corporation,0.0328,104115390,27254285640
3,2023-06-30,"Geode Capital Management, LLC",0.0163,51656526,13522128811
4,2023-06-30,Capital World Investors,0.0133,42272512,11065675466
5,2023-06-30,"FMR, LLC",0.0091,28771552,7531529167
6,2022-12-31,Norges Bank Investment Management,0.0088,28085245,3459540479
7,2023-06-30,Morgan Stanley,0.0088,27983350,7325201529
8,2023-06-30,Price (T.Rowe) Associates Inc,0.0088,27984161,7325413824
9,2023-06-30,JP Morgan Chase & Company,0.0084,26739940,6999714093

<p>
These fields are actually DataFrames.<br/>
This means that you can use all the DataFrame functions and filtering options on the data.<br/>
For example, you can use .info() to see all the columns available in the DataFrame.
</p>

<p>Output only the institutional investors of Tesla that have more than 90M shares.</p>

In [5]:
x = data.institutional_holders
display(x[x['Shares'] > 90000000])

  Date Reported                    Holder  pctHeld     Shares        Value
0    2023-06-30        Vanguard Group Inc   0.0701  222486933  58240404451
1    2023-06-30            Blackrock Inc.   0.0586  185889398  48660267714
2    2023-06-30  State Street Corporation   0.0328  104115390  27254285640

<p>The .recommendations field provides data on historic recommendations by investment banks.</p>

In [6]:
data = yf.Ticker("TSLA")
x = data.recommendations
display(x)

  period  strongBuy  buy  hold  sell  strongSell
0     0m          4    4     8     6           1
1    -1m          7   13    21     6           4
2    -2m          5   11    23     7           4
3    -3m         10   16    11     3           2

<p>
Let's apply what we've learned: create a function that will take a ticker as its parameter,<br/>
and output the ROE value for that ticker.<br/>
This will allow you to compare the ROE values of different companies:<br/>
</p>

In [7]:
def RoE(ticker):
  data = yf.Ticker(ticker)
  roe = data.info['returnOnEquity']
  name = data.info['shortName']
  print(name, ":", roe)

RoE('AAPL')
RoE('MSFT')

Apple Inc. : 1.4725
Microsoft Corporation : 0.38487998