<h1>Pandas</h1>

<p>In short pandas dataframes are constructed of multiple pandas series, each column in the dataframe can be seen as a pandas series.</p>

<p>First we import pandas, and the IPython.display for pretty display of pandas dataframes.</p>

In [1]:
import pandas as pd
from IPython.display import display

<p>Then we declare a pandas series based on a prices list</p>

In [2]:
prices = [42.8, 102.03, 240.38, 80.9]
s = pd.Series(prices)

<p>Accessing the second element in array using s[1]:</p>

In [3]:
print(s[1])

102.03

<p>Using the describe() function to see the key statistics:</p>

In [4]:
print(s.describe())

count      4.000000
mean     116.527500
std       86.129132
min       42.800000
25%       71.375000
50%       91.465000
75%      136.617500
max      240.380000
dtype: float64

<p>Getting the standard deviation:</p>

In [5]:
print(s.describe()["std"])

86.12913226661465

<p>Creating a DataFrame, which holds prices and their corresponding dates:</p>

In [6]:
data = {
  'date': ['2021-06-10', '2021-06-11', '2021-06-12', '2021-06-13'],
  'prices': [42.8, 102.03, 240.38, 80.9]
}
df = pd.DataFrame(data)

<p>Displaying a dataframe</p>

In [7]:
display(df)

         date  prices
0  2021-06-10   42.80
1  2021-06-11  102.03
2  2021-06-12  240.38
3  2021-06-13   80.90